paper-spinner(active=active aria-label=title class=className)
    div(data-id="spinnerContainer" class="#{active} paper-spinner")

      div(class="spinner-layer layer-1 paper-spinner")
        div(class="circle-clipper left paper-spinner")
          div(class="circle paper-spinner")
        div(class="gap-patch paper-spinner")
          div(class="circle paper-spinner")
        div(class="circle-clipper right paper-spinner")
          div(class="circle paper-spinner")

      div(class="spinner-layer layer-2 paper-spinner")
        div(class="circle-clipper left paper-spinner")
          div(class="circle paper-spinner")
        div(class="gap-patch paper-spinner")
          div(class="circle paper-spinner")
        div(class="circle-clipper right paper-spinner")
          div(class="circle paper-spinner")

      div(class="spinner-layer layer-3 paper-spinner")
        div(class="circle-clipper left paper-spinner")
          div(class="circle paper-spinner")
        div(class="gap-patch paper-spinner")
          div(class="circle paper-spinner")
        div(class="circle-clipper right paper-spinner")
          div(class="circle paper-spinner")

      div(class="spinner-layer layer-4 paper-spinner")
        div(class="circle-clipper left paper-spinner")
          div(class="circle paper-spinner")
        div(class="gap-patch paper-spinner")
          div(class="circle paper-spinner")
        div(class="circle-clipper right paper-spinner")
          div(class="circle paper-spinner")
