template(name="PaperDrawerPanelMain")
  div(class='paper-drawer-panel' data-id='main' style="left:256px;")
    div(main)
      +Template.contentBlock
    div(data-id="scrim" class="paper-drawer-panel")
