paper-tab(class=className role="tab" aria-disabled="false")
  +PaperRipple(className="paper-tab" id="ink")
  div(class="tab-content  paper-tab" flex-auto center-center horizontal layout)
    +Template.contentBlock

