paper-toolbar(class=className role="toolbar")
  hidden(style="display:none;")
    +Template.contentBlock
  div(data-id="topBar" class="toolbar-tools paper-toolbar" center horizontal layout)
  div(data-id="middleBar" class="toolbar-tools paper-toolbar" center horizontal layout)
  div(data-id="bottomBar" class="toolbar-tools paper-toolbar" center horizontal layout)
