@import url(//fonts.googleapis.com/css?family=RobotoDraft:400);
@import url(//fonts.googleapis.com/css?family=Roboto:400);

body {
  font-family: "RobotoDraft", "Roboto", sans-serif;
  background: #fafafa;
}

.blue {
  background: #2E3BFF;
  color: #fff;
}
.yellow {
  background: #FFFC04;
  color: #000;
}
.green {
  background: #239528;
  color: #fff;
}

ghost-button.blue {
  background: none;
  color: #2E3BFF;
}
ghost-button.red {
  background: none;
  color: #FF2C38;
}
ghost-button.green {
  background: none;
  color: #239528;
}

.paper-progress-0 [data-id=progressContainer].paper-progress {
  background-color:#e0e0e0;
}

.paper-progress-0 [data-id=activeProgress].paper-progress {
  background-color:#0f9d58;
}

.paper-progress-0 [data-id=secondaryProgress].paper-progress {
  background-color:#b7e1cd;
}

paper-toolbar.paper-toolbar-0 {
  background: #3f51b5;
  color: #ffffff;
}

paper-toolbar.paper-toolbar-0 paper-icon-button {
  color: #ffffff;
}

paper-toolbar.paper-toolbar-1 {
  background: #692365;
  color: #ffffff;
}

paper-toolbar.paper-toolbar-1 paper-icon-button {
  color: #ffffff;
}

.paper-toolbar-1 .toolbar-tools.paper-toolbar .title {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  flex: 1;
  flex-basis: 0.000000001px;
}

.card {
  position: relative;
  display: inline-block;
  background: white;
  margin: 20px;
}
.card paper-material {
  padding: 20px;
}

