/*@import url(//fonts.googleapis.com/css?family=RobotoDraft:400);*/
/*@import url(//fonts.googleapis.com/css?family=Roboto:400);*/

body {
  font-family: "RobotoDraft", "Roboto", sans-serif;
  background: #fafafa;
  font-size: 14px;
  margin: 0;
}

.horizontal-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px auto;
}

.horizontal-section {
  background-color: white;
  padding: 24px;
  margin-right: 24px;
  min-width: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.line {
  margin-bottom: 40px;
}

.line span {
  margin-left: 24px;
}

paper-fab.paper-fab-1 {
  background-color: #03a9f4;
  color: #fff;
}

paper-fab.paper-fab-2 {
  background-color: #f44336;
  color: #fff;
}

paper-fab.paper-fab-3 {
  background-color: #ff9800;
  color: #fff;
}

paper-fab.paper-fab-4 {
  background-color: #4caf50;
  color: #fff;
}

paper-fab {
  display: block;
  margin: 0 auto;
}

paper-fab.paper-fab-0 {
  background: #ff4081;
  color: #ffffff;
}

paper-fab.paper-fab-0[disabled] {
  color: #9e9e9e;
  background: #e0e0e0;
}

.paper-fab-0 paper-material.paper-fab {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.paper-fab-0 .keyboard-focus.paper-fab {
  background: #880e4f;
}

paper-fab.green {
  min-width: 130px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

paper-button {
  display: block;
  margin-bottom: 24px;
}

paper-button.colorful {
  color: #4285f4;
}

paper-button[raised].colorful {
  background: #4285f4;
  color: #fff;
}

paper-button[toggles] {
  transition: background-color 0.3s;
}

paper-button[toggles][active] {
  background-color: rgba(0, 0, 0, 0.25);
}

paper-button[toggles][active].colorful {
  background-color: rgba(66, 133, 244, 0.25);
}

paper-button[toggles][active][raised].colorful {
  background-color: rgba(66, 133, 244, 0.75);
}

paper-button.blue {
  color: #03a9f4;
}

paper-button.blue:hover {
  background: #e1f5fe;
}

paper-button.red {
  color: #f44336;
}

paper-button.red:hover {
  background: #ffebee;
}

paper-button.green {
  color: #4caf50;
}

paper-button.green:hover {
  background: #e8f5e9;
}

paper-button.orange {
  color: #ff9800;
}

paper-button.orange:hover {
  background: #fff3e0;
}

paper-button.hover:hover {
  background: #eee;
}

paper-fab.green {
  background: #2E3BFF;
  color: #fff;
}

paper-fab.yellow {
  background: #FFFC04;
  color: #000;
}

paper-fab.blue {
  background: #239528;
  color: #fff;
}

ghost-button.blue {
  background: none;
  color: #2E3BFF;
}

ghost-button.red {
  background: none;
  color: #FF2C38;
}

ghost-button.green {
  background: none;
  color: #239528;
}

.paper-progress-0 [data-id=progressContainer].paper-progress {
  background-color: #e0e0e0;
}

.paper-progress-0 [data-id=activeProgress].paper-progress {
  background-color: #0f9d58;
}

.paper-progress-0 [data-id=secondaryProgress].paper-progress {
  background-color: #b7e1cd;
}

paper-toolbar.paper-toolbar-0 {
  background: #3f51b5;
  color: #ffffff;
}

paper-toolbar.paper-toolbar-0 paper-icon-button {
  color: #ffffff;
}

paper-toolbar.paper-toolbar-1 {
  background: #692365;
  color: #ffffff;
}

paper-toolbar.paper-toolbar-2 paper-icon-button {
  color: #ffffff;
}

paper-toolbar.paper-toolbar-2 {
  background: #11B036;
  color: #ffffff;
}

paper-toolbar.paper-toolbar-2 paper-icon-button {
  color: #ffffff;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar .title,
.paper-toolbar-1 .toolbar-tools.paper-toolbar .title,
.paper-toolbar-2 .toolbar-tools.paper-toolbar .title {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  flex: 1;
  flex-basis: 0.000000001px;
}

.paper-spinner-0 .layer-1.paper-spinner {
  border-color: #4285f4;
}

.paper-spinner-0 .layer-2.paper-spinner {
  border-color: #db4437;
}

.paper-spinner-0 .layer-3.paper-spinner {
  border-color: #f4b400;
}

.paper-spinner-0 .layer-4.paper-spinner {
  border-color: #4285f4;
}

.paper-spinner-0 .circle.paper-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paper-selector-0 .iron-selected {
  background: #cccccc;
}

.card {
  position: relative;
  display: inline-block;
  background: white;
  margin: 20px;
}

.card paper-material {
  padding: 20px;
}

paper-header-panel.paper-header-panel-0 {
  display: flex;
  flex-direction: column;
}

.paper-header-panel-0 [data-id=mainContainer].paper-header-panel {
  flex: 1;
  flex-basis: 0.01px;
}

paper-header-panel.paper-header-panel-0 paper-toolbar:after,
paper-header-panel.paper-header-panel-0 .paper-header:after {
  height: 6px;
  bottom: -6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

paper-header-panel.paper-header-panel-1 {
  display: flex;
  flex-direction: column;
}

.paper-header-panel-1 [data-id=mainContainer].paper-header-panel {
  flex: 1;
  flex-basis: 0.01px;
}

paper-header-panel.paper-header-panel-1 paper-toolbar:after,
paper-header-panel.paper-header-panel-1 .paper-header:after {
  height: 6px;
  bottom: -6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

.paper-header {
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  padding: 0 10px;
  color: white;
  transition: height 0.2s;
}

.paper-header.tall {
  height: 120px;
}

.paper-header.medium-tall {
  height: 100px;
  line-height: 50px;
}

paper-header-panel .cover {
  margin: 60px;
}

paper-header-panel.blue .paper-header {
  background-color: #4323CB;
}

.paper-header-panel-0.blue .paper-header-panel > .content {
  background-image: linear-gradient(to bottom, #fff, #4323CB);
}

paper-header-panel.green .paper-header {
  background-color: #2ACB66;
}

.paper-header-panel-0.green .paper-header-panel > .content {
  background-image: linear-gradient(to bottom, #fff, #2ACB66);
}

paper-header-panel.yellow .paper-header {
  background-color: #C1CB2E;
}

.paper-header-panel-0.yellow .paper-header-panel > .content {
  background-image: linear-gradient(to bottom, #fff, #C1CB2E);
}

paper-header-panel.red .paper-header {
  background-color: #CB5539;
}

.paper-header-panel-0.red .paper-header-panel > .content {
  background-image: linear-gradient(to bottom, #fff, #CB5539);
}

paper-header-panel.orange .paper-header {
  background-color: #CB831F;
}

.paper-header-panel-0.orange .paper-header-panel > .content {
  background-image: linear-gradient(to bottom, #fff, #CB831F);
}

paper-header-panel.grey .paper-header {
  background-color: #555555;
}

paper-tabs.paper-tabs-0 {
  display: flex;
  align-items: center;
  background: #00bcd4;
  color: white;
}

.paper-tabs-0 [data-id=selectionBar].paper-tabs {
  background-color: #ffff8d;
  transition-duration: 0.5s;
}

paper-tab.paper-tab-0 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-basis: 0.01px;
  text-transform: uppercase;
}

.paper-tab-0 [data-id=ink].paper-tab {
  color: #ffff8d;
}

.paper-tab-0.iron-selected {
  /*background: #91524E;*/
  transition: background 0s 0.2s;
  /*color: #D2FF6A;*/
  opacity: 1;
}

.paper-checkbox-0 #checkboxContainer.paper-checkbox {
  background-color: transparent;
}

paper-checkbox.paper-checkbox-0 #ink.paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-0 #ink[checked].paper-checkbox {
  color: #3f51b5;
}

paper-checkbox.paper-checkbox-0 #checkbox.paper-checkbox {
  border-color: #212121;
}

@-webkit-keyframes checkmark-expand {
  0% {
    top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
  }

  100% {
    top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
  }
}


@keyframes checkmark-expand {
  0% {
    top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
  }

  100% {
    top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
  }
}


paper-checkbox.paper-checkbox-0 [data-id=checkbox].checked.paper-checkbox {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

paper-checkbox.paper-checkbox-0 [data-id=checkbox].checked.paper-checkbox + paper-ripple {
  color: #3f51b5;
}

paper-checkbox.paper-checkbox-0 [data-id=checkmark].paper-checkbox {
  border-color: white;
}

.paper-checkbox-0 #checkboxLabel.paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-0[disabled] [data-id=checkbox].paper-checkbox {
  border-color: #212121;
}

paper-checkbox.paper-checkbox-0[disabled] [data-id=checkbox].checked.paper-checkbox {
  background-color: #212121 !important;
}

.paper-checkbox-1 [data-id=checkboxContainer].paper-checkbox {
  background-color: transparent;
}

paper-checkbox.paper-checkbox-1 [data-id=ink].paper-checkbox {
  color: #01579b;
}

paper-checkbox.paper-checkbox-1 [data-id=ink][checked].paper-checkbox {
  color: #03a9f4;
}

paper-checkbox.paper-checkbox-1 [data-id=checkbox].paper-checkbox {
  border-color: #01579b;
}

paper-checkbox.paper-checkbox-1 [data-id=checkbox].checked.paper-checkbox {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

paper-checkbox.paper-checkbox-1 [data-id=checkmark].paper-checkbox {
  border-color: white;
}

.paper-checkbox-1 [data-id=checkboxLabel].paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-1[disabled] [data-id=checkbox].paper-checkbox {
  border-color: #01579b;
}

paper-checkbox.paper-checkbox-1[disabled][checked] [data-id=checkbox].paper-checkbox {
  background-color: #01579b;
}

.paper-checkbox-2 [data-id=checkboxContainer].paper-checkbox {
  background-color: transparent;
}

paper-checkbox.paper-checkbox-2 [data-id=ink].paper-checkbox {
  color: #b71c1c;
}

paper-checkbox.paper-checkbox-2 [data-id=ink][checked].paper-checkbox {
  color: #f44336;
}

paper-checkbox.paper-checkbox-2 [data-id=checkbox].paper-checkbox {
  border-color: #b71c1c;
}

paper-checkbox.paper-checkbox-2 [data-id=checkbox].checked.paper-checkbox {
  background-color: #f44336;
  border-color: #f44336;
}

paper-checkbox.paper-checkbox-2 [data-id=checkmark].paper-checkbox {
  border-color: white;
}

.paper-checkbox-2 [data-id=checkboxLabel].paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-2[disabled] [data-id=checkbox].paper-checkbox {
  border-color: #b71c1c;
}

paper-checkbox.paper-checkbox-2[disabled][checked] [data-id=checkbox].paper-checkbox {
  background-color: #b71c1c;
}

.paper-checkbox-3 [data-id=checkboxContainer].paper-checkbox {
  background-color: transparent;
}

paper-checkbox.paper-checkbox-3 [data-id=ink].paper-checkbox {
  color: #e65100;
}

paper-checkbox.paper-checkbox-3 [data-id=ink][checked].paper-checkbox {
  color: #ff9800;
}

paper-checkbox.paper-checkbox-3 [data-id=checkbox].paper-checkbox {
  border-color: #e65100;
}

paper-checkbox.paper-checkbox-3 [data-id=checkbox].checked.paper-checkbox {
  background-color: #ff9800;
  border-color: #ff9800;
}

paper-checkbox.paper-checkbox-3 [data-id=checkmark].paper-checkbox {
  border-color: white;
}

.paper-checkbox-3 [data-id=checkboxLabel].paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-3[disabled] [data-id=checkbox].paper-checkbox {
  border-color: #e65100;
}

paper-checkbox.paper-checkbox-3[disabled][checked] [data-id=checkbox].paper-checkbox {
  background-color: #e65100;
}

.paper-checkbox-4 [data-id=checkboxContainer].paper-checkbox {
  background-color: transparent;
}

paper-checkbox.paper-checkbox-4 [data-id=ink].paper-checkbox {
  color: #1b5e20;
}

paper-checkbox.paper-checkbox-4 [data-id=ink][checked].paper-checkbox {
  color: #4caf50;
}

paper-checkbox.paper-checkbox-4 [data-id=checkbox].paper-checkbox {
  border-color: #1b5e20;
}

paper-checkbox.paper-checkbox-4 [data-id=checkbox].checked.paper-checkbox {
  background-color: #4caf50;
  border-color: #4caf50;
}

paper-checkbox.paper-checkbox-4 [data-id=checkmark].paper-checkbox {
  border-color: white;
}

.paper-checkbox-4 [data-id=checkboxLabel].paper-checkbox {
  color: #212121;
}

paper-checkbox.paper-checkbox-4[disabled] [data-id=checkbox].paper-checkbox {
  border-color: #1b5e20;
}

paper-checkbox.paper-checkbox-4[disabled][checked] [data-id=checkbox].paper-checkbox {
  background-color: #1b5e20;
}

.paper-header-panel-1 .paper-header-panel > .content {
  padding: 0 20px;
}

paper-radio-button.paper-radio-button-0 [data-id=ink].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-0 [data-id=ink][checked].paper-radio-button {
  color: #3f51b5;
}

paper-radio-button.paper-radio-button-0 [data-id=offRadio].paper-radio-button {
  background-color: transparent;
  border-color: #212121;
}

paper-radio-button.paper-radio-button-0 [data-id=onRadio].paper-radio-button {
  background-color: #3f51b5;
}

paper-radio-button.paper-radio-button-0[checked] [data-id=offRadio].paper-radio-button {
  border-color: #3f51b5;
}

.paper-radio-button-0 [data-id=radioLabel].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-0[disabled] [data-id=offRadio].paper-radio-button {
  border-color: #212121;
}

paper-radio-button.paper-radio-button-0[disabled][checked] [data-id=onRadio].paper-radio-button {
  background-color: #212121;
}

paper-radio-button.paper-radio-button-1 [data-id=ink].paper-radio-button {
  color: #01579b;
}

paper-radio-button.paper-radio-button-1 [data-id=ink][checked].paper-radio-button {
  color: #03a9f4;
}

paper-radio-button.paper-radio-button-1 [data-id=offRadio].paper-radio-button {
  background-color: transparent;
  border-color: #01579b;
}

paper-radio-button.paper-radio-button-1 [data-id=onRadio].paper-radio-button {
  background-color: #03a9f4;
}

paper-radio-button.paper-radio-button-1[checked] [data-id=offRadio].paper-radio-button {
  border-color: #03a9f4;
}

.paper-radio-button-1 [data-id=radioLabel].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-1[disabled] [data-id=offRadio].paper-radio-button {
  border-color: #01579b;
}

paper-radio-button.paper-radio-button-1[disabled][checked] [data-id=onRadio].paper-radio-button {
  background-color: #01579b;
}

paper-radio-button.paper-radio-button-2 [data-id=ink].paper-radio-button {
  color: #b71c1c;
}

paper-radio-button.paper-radio-button-2 [data-id=ink][checked].paper-radio-button {
  color: #f44336;
}

paper-radio-button.paper-radio-button-2 [data-id=offRadio].paper-radio-button {
  background-color: transparent;
  border-color: #b71c1c;
}

paper-radio-button.paper-radio-button-2 [data-id=onRadio].paper-radio-button {
  background-color: #f44336;
}

paper-radio-button.paper-radio-button-2[checked] [data-id=offRadio].paper-radio-button {
  border-color: #f44336;
}

.paper-radio-button-2 [data-id=radioLabel].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-2[disabled] [data-id=offRadio].paper-radio-button {
  border-color: #b71c1c;
}

paper-radio-button.paper-radio-button-2[disabled][checked] [data-id=onRadio].paper-radio-button {
  background-color: #b71c1c;
}

paper-radio-button.paper-radio-button-3 [data-id=ink].paper-radio-button {
  color: #e65100;
}

paper-radio-button.paper-radio-button-3 [data-id=ink][checked].paper-radio-button {
  color: #ff9800;
}

paper-radio-button.paper-radio-button-3 [data-id=offRadio].paper-radio-button {
  background-color: transparent;
  border-color: #e65100;
}

paper-radio-button.paper-radio-button-3 [data-id=onRadio].paper-radio-button {
  background-color: #ff9800;
}

paper-radio-button.paper-radio-button-3[checked] [data-id=offRadio].paper-radio-button {
  border-color: #ff9800;
}

.paper-radio-button-3 [data-id=radioLabel].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-3[disabled] [data-id=offRadio].paper-radio-button {
  border-color: #e65100;
}

paper-radio-button.paper-radio-button-3[disabled][checked] [data-id=onRadio].paper-radio-button {
  background-color: #e65100;
}

paper-radio-button.paper-radio-button-4 [data-id=ink].paper-radio-button {
  color: #1b5e20;
}

paper-radio-button.paper-radio-button-4 [data-id=ink][checked].paper-radio-button {
  color: #4caf50;
}

paper-radio-button.paper-radio-button-4 [data-id=offRadio].paper-radio-button {
  background-color: transparent;
  border-color: #1b5e20;
}

paper-radio-button.paper-radio-button-4 [data-id=onRadio].paper-radio-button {
  background-color: #4caf50;
}

paper-radio-button.paper-radio-button-4[checked] [data-id=offRadio].paper-radio-button {
  border-color: #4caf50;
}

.paper-radio-button-4 [data-id=radioLabel].paper-radio-button {
  color: #212121;
}

paper-radio-button.paper-radio-button-4[disabled] [data-id=offRadio].paper-radio-button {
  border-color: #1b5e20;
}

paper-radio-button.paper-radio-button-4[disabled][checked] [data-id=onRadio].paper-radio-button {
  background-color: #1b5e20;
}

paper-toggle-button.paper-toggle-button-0 .toggle-bar.paper-toggle-button {
  background-color: #000000;
}

paper-toggle-button.paper-toggle-button-0 .toggle-button.paper-toggle-button {
  background-color: #fafafa;
}

paper-toggle-button.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
  background-color: #0f9d58;
}

paper-toggle-button.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button {
  background-color: #0f9d58;
}

paper-toggle-button.paper-toggle-button-0 .toggle-ink.paper-toggle-button {
  color: #212121;
}

paper-toggle-button.paper-toggle-button-0[checked] .toggle-ink.paper-toggle-button {
  color: #0f9d58;
}

paper-toggle-button.paper-toggle-button-1 .toggle-bar.paper-toggle-button {
  background-color: #01579b;
}

paper-toggle-button.paper-toggle-button-1 .toggle-button.paper-toggle-button {
  background-color: #01579b;
}

paper-toggle-button.paper-toggle-button-1[checked] .toggle-bar.paper-toggle-button {
  background-color: #03a9f4;
}

paper-toggle-button.paper-toggle-button-1[checked] .toggle-button.paper-toggle-button {
  background-color: #03a9f4;
}

paper-toggle-button.paper-toggle-button-1 .toggle-ink.paper-toggle-button {
  color: #01579b;
}

paper-toggle-button.paper-toggle-button-1[checked] .toggle-ink.paper-toggle-button {
  color: #03a9f4;
}

paper-toggle-button.paper-toggle-button-2 .toggle-bar.paper-toggle-button {
  background-color: #b71c1c;
}

paper-toggle-button.paper-toggle-button-2 .toggle-button.paper-toggle-button {
  background-color: #b71c1c;
}

paper-toggle-button.paper-toggle-button-2[checked] .toggle-bar.paper-toggle-button {
  background-color: #f44336;
}

paper-toggle-button.paper-toggle-button-2[checked] .toggle-button.paper-toggle-button {
  background-color: #f44336;
}

paper-toggle-button.paper-toggle-button-2 .toggle-ink.paper-toggle-button {
  color: #b71c1c;
}

paper-toggle-button.paper-toggle-button-2[checked] .toggle-ink.paper-toggle-button {
  color: #f44336;
}

paper-toggle-button.paper-toggle-button-3 .toggle-bar.paper-toggle-button {
  background-color: #e65100;
}

paper-toggle-button.paper-toggle-button-3 .toggle-button.paper-toggle-button {
  background-color: #e65100;
}

paper-toggle-button.paper-toggle-button-3[checked] .toggle-bar.paper-toggle-button {
  background-color: #ff9800;
}

paper-toggle-button.paper-toggle-button-3[checked] .toggle-button.paper-toggle-button {
  background-color: #ff9800;
}

paper-toggle-button.paper-toggle-button-3 .toggle-ink.paper-toggle-button {
  color: #e65100;
}

paper-toggle-button.paper-toggle-button-3[checked] .toggle-ink.paper-toggle-button {
  color: #ff9800;
}

paper-toggle-button.paper-toggle-button-4 .toggle-bar.paper-toggle-button {
  background-color: #1b5e20;
}

paper-toggle-button.paper-toggle-button-4 .toggle-button.paper-toggle-button {
  background-color: #1b5e20;
}

paper-toggle-button.paper-toggle-button-4[checked] .toggle-bar.paper-toggle-button {
  background-color: #4caf50;
}

paper-toggle-button.paper-toggle-button-4[checked] .toggle-button.paper-toggle-button {
  background-color: #4caf50;
}

paper-toggle-button.paper-toggle-button-4 .toggle-ink.paper-toggle-button {
  color: #1b5e20;
}

paper-toggle-button.paper-toggle-button-4[checked] .toggle-ink.paper-toggle-button {
  color: #4caf50;
}

paper-icon-button {
  margin: 0 auto;
}

paper-icon-button svg {
  width: 100%;
  height: 100%;
}

paper-icon-button.huge {
  margin-left: 0px;
  width: 100px;
  --paper-icon-button-ink-color: var(--paper-indigo-500);
}

paper-icon-button.huge::shadow [data-id=icon] {
  width: 100px;
  height: 100px;
}

paper-icon-button.huge::shadow [data-id=icon] {
  width: 100px;
  height: 100px;
}

paper-icon-button.huge [data-id=icon] {
  width: 100px;
  height: 100px;
}

paper-icon-button.paper-icon-button-0 [data-id=ink].paper-icon-button {
  color: #212121;
}

paper-icon-button.paper-icon-button-0[disabled] {
  color: #bdbdbd;
}

paper-icon-button.paper-icon-button-1 [data-id=ink].paper-icon-button {
  color: #3f51b5;
}

paper-icon-button.paper-icon-button-1[disabled] {
  color: #bdbdbd;
}

paper-icon-button.blue {
  color: #03a9f4;
}

paper-icon-button.red {
  color: #f44336;
}

paper-icon-button.orange {
  color: #ff9800;
}

paper-icon-button.green {
  color: #4caf50;
}

paper-dialog.paper-dialog-0 {
  top: 119px;
  left: 12px;
  background: #ffffff;
  color: #212121;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}