#element-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px solid #e5e5e5;
  margin-bottom: 2em;
}

#element-table thead th {
  padding: 0 24px;
  line-height: 56px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

#element-table td, #element-table th {
  padding: 12px 24px;
}

#element-table td.tags {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

#element-table th {
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: #e5e5e5;
}

#element-table tbody tr {
  cursor: pointer;
  overflow: hidden;
  height: 48px;
}

#element-table tbody tr:first-child {
  margin-top: 8px;
}

#element-table iron-icon {
  color: #e0e0e0;
  width: 18px;
  height: 18px;
}

#element-table tr:hover iron-icon {
  color: #616161;
}

#element-table .description {
  overflow: hidden;
  color: #606060;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  line-height: 24px;
}

#element-table tr:hover {
  background: #fafafa;
}

#element-table a {
  font-weight: bold;
}

#element-table a, #element-table iron-icon {
  cursor: pointer;
}


#element-table .name {
  white-space: nowrap;
  font-weight: 400;
  font-size: 13px;
}
